name: Build APK



on:

  workflow_dispatch:



jobs:

  build:

    runs-on: ubuntu-22.04



    steps:

      - uses: actions/checkout@v3



      - name: Install system packages

        run: |

          sudo apt update

          sudo apt install -y python3 python3-pip openjdk-17-jdk zip unzip

          pip install --upgrade pip

          pip install buildozer cython virtualenv



      - name: Install Android SDK & NDK

        run: |

          mkdir -p $HOME/.buildozer/android/platform

          cd $HOME/.buildozer/android/platform

          

          wget https://dl.google.com/android/repository/commandlinetools-linux-9477386_latest.zip

          unzip commandlinetools-linux-9477386_latest.zip -d cmdline-tools

          mkdir -p cmdline-tools/latest

          mv cmdline-tools/bin cmdline-tools/lib cmdline-tools/latest/



          export ANDROID_HOME=$HOME/.buildozer/android/platform

          export PATH=$ANDROID_HOME/cmdline-tools/latest/bin:$PATH

          yes | sdkmanager --licenses

          sdkmanager "platform-tools" "platforms;android-34" "build-tools;30.0.3" "ndk;21.4.7075529"



      - name: Build APK

        run: |

          export ANDROID_HOME=$HOME/.buildozer/android/platform

          export PATH=$ANDROID_HOME/cmdline-tools/latest/bin:$PATH

          buildozer android debug



      - uses: actions/upload-artifact@v3

        with:

          name: apk

          path: bin/*.apk
